:root {
    --primary-color:#0bb3e4;
    --secondary-color:#142844;
  }
  
.home-main-container{
    display: flex;
    background-color: #eaeff3;
    height: 900px;
    
    

}
.home-left-container{
    width: 50%;
    margin: 40px;
    padding: 150px;
    text-align: start;
}
.home-left-container h1{
    font-size: 4.6rem;
    text-align: start;
    color: var(--secondary-color);
    cursor: pointer;

}
.home-left-container h1:hover{
    color: var(--primary-color);
    

}
.home-left-container p{
    text-align: start;
    font-size: 1.5rem;
}
.home-right-container{
    height: 700px;
    padding: 150px;
}
.image-container{
    /* border: 1px solid; */
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: relative;
    background-color: white;
    margin-top: 30px;
}
.image-container img{
    position: absolute;
    right: 20px;
    top: 20px;
    height: 600px;
    object-fit: cover;
}
.hero-buttons{
    background-color: var(--primary-color);
    padding: 20px 30px ;
    border-radius: 40px;
    margin-right: 20px;
    /* justify-content: start; */
    border: none;
    color: #eaeff3;
    font-size: 1.3rem;
    
    margin-top: 20px;
}
.hero-buttons:hover{
    background-color: white;
    color: #073566;
    transition: 0.9s ease-in-out;

}