:root {
    --primary-color: #007bff;
  }
  
.home-main-container{
    display: flex;
    background-color: #eaeff3;
    height: 900px;
    
    

}
.home-left-container{
    width: 50%;
    margin: 40px;
    padding: 150px;
}
.home-left-container h1{
    font-size: 4.6rem;
    text-align: start;

}
.home-left-container p{
    text-align: start;
    font-size: 1.5rem;
}
.home-right-container{
    height: 700px;
    padding: 150px;
}
.image-container{
    /* border: 1px solid; */
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: relative;
    background-color: white;
    margin-top: 30px;
}
.image-container img{
    position: absolute;
    right: 20px;
    top: 20px;
    height: 600px;
    object-fit: cover;
}
button{
    background-color: var(--primary-color);
    padding: 15px 30px ;
    border-radius: 40px;
    margin-right: 20px;
    /* justify-content: start; */
    border: none;
    color: #eaeff3;
    font-size: 1.1rem;
    margin-left: 10px;
    margin-top: 20px;
}