.container-mywork{
    height: 900px;
    width: 100%;
    background-color: #222222;
    padding-top: 70px;
}
.container-mywork h1{
    font-size: 2.3rem;
    text-align: center;
    color: white;
    font-family: 'Merriweather', serif;
}

.image1{
    height: 800px;
    width: 599px;
}