*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-customerservice{
    background-color: #222222;
    height:1200px;
    width: 100%;
    padding: 80px 80px;
    
    
}
.container-customerservice h1, .container-customerservice h2{
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.card-skills-container{
     /* display: flex;  */
     
height: 250px;
border: 1px solid red;
background-color: antiquewhite;
width: 250px;
/* display: flex; */
margin-top: 30px;

padding: 20px;

}
.card-container{
    display: flex;
    flex-direction: row;
}


